/*section>h2,
section>img {
    text-align: center;
}*/
section {
    text-align: center;
}

section>p,
section>ul {
    text-align: justify;
}

section {
    column-width: 400px;
    margin-top: 1em;
    margin-right: 10%;
}

section>h2,
section>p {
    margin-top: 0;
}

main {
    margin-top: 1em;
}