body {
    margin: 0 0 0 0;
    background-color: #222;
    color: #fff;
    font-size: large;
    font-family: sans-serif;
    font-weight: lighter;
}

#top {
    display: flex;
}

#top>nav>ul>li {
    display: inline-block;
    font-size: x-large;
    margin-left: 2.5em;
    margin-top: 10%;
}

#top>nav>ul>li>a {
    font-family: Georgia, "Times New Roman", serif;
    color: #fff;
    font-weight: bold;
}

#top>nav>ul>li>a:visited {
    color: #fdf;
}

#top>nav>ul>li>a:hover {
    font-style: italic;
}

#banner {
    width: 100%;
}

article {
    width: 80%;
    margin-left: 10%;
}

footer {
    text-align: center;
    background-color: #333;
    margin-bottom: -1em;
    padding-top: 2em;
    font-size: x-small;
    line-height: 25%;
}