   /* body,
    header,
    footer,
    nav {
        margin: 0;
        padding: 0;
        border: 0;
    }

    body {
        background-color: #fff;
        color: #000;
        font-size: large;
        font-family: sans-serif;
        font-weight: lighter;
    }

    #top {
        display: flex;
        background-color: #222;
    }

    #top>nav>ul>li {
        display: inline-block;
        font-size: x-large;
        margin-left: 2.5em;
        margin-top: 10%;
        text-align: right;
    }

    #top>nav>ul>li>a {
        font-family: Georgia, "Times New Roman", serif;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }

    #top>nav>ul>li>a:visited {
        color: #fdf;
    }

    #top>nav>ul>li>a:hover {
        font-style: italic;
    }

    #banner {
        width: 100%;
    }

    article {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 1em;
    }

    footer {
        color: #fff;
        text-align: center;
        background-color: #333;
        padding-top: 2em;
        padding-bottom: 0.5em;
        font-size: x-small;
        line-height: 25%;
    }

    footer a {
        color: #fff;
        text-decoration: none;
    }

    section a {
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }

    iframe {
        border: 3px solid #000;
    }
*/
   body,
   header,
   footer,
   nav {
       margin: 0;
       padding: 0;
       border: 0;
   }

   main {
       margin-top: -1em;
   }

   body {
       background-color: #fff;
       color: #000;
       font-size: large;
       font-family: sans-serif;
       font-weight: lighter;
   }

   #banner {
       visibility: hidden;
       width: 0;
   }

   #top {
       background-color: #222;
       text-align: center;
       width: 100%;
   }

   #top>nav>ul {
       padding-inline-start: 0;
       padding-bottom: 1.2em;
   }

   #top>nav>ul>li {
       list-style: none;
       font-size: x-large;
       margin-top: 5%;
       border-bottom: 1px solid #333;
   }

   #top>nav>ul>li>a {
       font-family: Georgia, "Times New Roman", serif;
       color: #fff;
       font-weight: bold;
       text-decoration: none;
   }

   #top>nav>ul>li>a:visited {
       color: #fdf;
   }

   #top>nav>ul>li>a:hover {
       font-style: italic;
   }

   article {
       width: 80%;
       margin-left: 10%;
       margin-bottom: 1em;
   }

   footer {
       color: #fff;
       text-align: center;
       background-color: #333;
       padding-top: 2em;
       padding-bottom: 0.5em;
       font-size: x-small;
       line-height: 25%;
   }

   footer a {
       color: #fff;
       text-decoration: none;
   }

   section a {
       color: #000;
       font-weight: bold;
       text-decoration: none;
   }

   iframe {
       border: 3px solid #000;
   }